.sect-enner {
  width: 8%;
  height: 146vh;
  background-color: #1f1d2b;
  border-radius: 10px;
}

.logo-item {
  padding-left: 22px;
  padding-top: 22px;
}


.item {
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  width: 80px;
  padding-left: 25px;
}

.log-out {
  padding: 41px;
  padding-bottom: 15px;
}
